<div class="row">
    <div class="column">
      <div class="card">
            <h1> <strong>Dialy Quotes</strong></h1>
            <div *ngFor='let quote of quotes;let i = index' >
                    <p>quote:{{quote.quoteWritten}}</p>
                    <button (click)='toggleDetails(i)'>Review discription</button>
                     <app-cquote *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-cquote>
                  <button type="button" class="btn btn-success" (click)="likes()">{{like}}like</button> 
                  <button type="button" class="btn btn-warning" (click)="dislikes()">{{dislike}}dislike </button>
                     
        
        <!-- <p>Some text</p> -->
        
      </div>
    </div>
  

</div>
<div>
    <!-- <app-quote-form></app-quote-form> -->
</div>
<div class="column">
        <div class="card">
          <!-- <h3>Card 2</h3>
          <p>Some text</p>
          <p>Some text</p> -->
        </div>
      </div>
<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
<!-- <p>{{quote.author}}</p> -->
<!-- <app-vote ></app-vote> -->